body {
    background-color : #3E3939;
    color : #F6F4F4;
    background-image: url(https://i.pinimg.com/originals/7f/e7/74/7fe774bbacce09f00cb5b2e3cbc48db3.png);
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

h1 {
  color: #FF7517;
  font-size: 5rem;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-family: 'Merienda', cursive;
  text-align: center;
  padding-top: 3%;
}

h2 {
  color: #FF7517;
  font-family: 'Roboto Slab', serif;
  margin: 100px 0 25px 0;

}
p
 {
  color: #F6F4F4;
  font-family: 'Roboto Slab', serif;
  text-align: center;

}

h3 {
  color: #FF7517;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-size: 2rem
}

.profile {
  font-family: 'Roboto Slab', serif;
  text-align: center;
  font-size: 17px;
  padding: rgb(100, 0, 0);
}

.first-p {
  font-size: 22px;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  line-height: 1.5;
  width: 50%;
  margin: auto;
}


.skills {
  text-align: center;
  position: relative;
}
.first-img {
  text-align: center;
  padding-top: 3%
}

.img-programming {
  width: 25%;
  height: 25%;
  float: left;
  margin: 25px 50px 25px 200px;
  padding-top: 70px;


}
.skill-row1{
    font-family: 'Roboto Slab', serif;
    margin: 10px 200px 25px 10px;
    font-size: 20px;
    padding: 60px 20px;

}

.img-data {
  width: 25%;
  height: 25%;
  float: right;
  margin: 10px 200px 0px 50px;

}
.skill-row2 {
  font-family: 'Roboto Slab', serif;
  margin: 10px 10px 100px 200px;
  font-size: 20px;
  padding: 20px 20px;

}
.contact-me {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  margin: 25px 0;
  position: relative;
}
.p-ready {
padding: 25px
}

.btn {
  background: #c77700;
  background-image: -webkit-linear-gradient(top, #c77700, #ff9b05);
  background-image: -moz-linear-gradient(top, #c77700, #ff9b05);
  background-image: -ms-linear-gradient(top, #c77700, #ff9b05);
  background-image: -o-linear-gradient(top, #c77700, #ff9b05);
  background-image: linear-gradient(to bottom, #c77700, #ff9b05);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 0 0 40px
}

.btn:hover {
  background: #fcbe05;
  background-image: -webkit-linear-gradient(top, #fcbe05, #f27305);
  background-image: -moz-linear-gradient(top, #fcbe05, #f27305);
  background-image: -ms-linear-gradient(top, #fcbe05, #f27305);
  background-image: -o-linear-gradient(top, #fcbe05, #f27305);
  background-image: linear-gradient(to bottom, #fcbe05, #f27305);
  text-decoration: none;
}

.bottom-container {
  text-align: center;
  background-color: #FF7517;
  color: black
  font-family: 'Roboto Slab', serif;
  padding: 75px 0 20px;
}

.footer-link {
  color: black;

}
